{
    "extends": [
        "stylelint-config-sass-guidelines",
        "stylelint-config-property-sort-order-smacss"
    ],
    "rules": {
        "indentation": 4,
        "number-leading-zero": null,
        "order/properties-alphabetical-order": null,
        "selector-class-pattern": null,
        "max-nesting-depth": 3,
    }
}
